In [1]:
import pandas as pd
import unidecode

In [2]:
data= pd.read_csv("test.csv")

In [3]:
print(data)

   Rk                  Player Pos  Age   Tm   G    MP   PER    TS%   3PAr  \
0   1  √Ålex Abrines\abrinal01  SG   25  OKC  31   588   6.3  0.507  0.809
1   2      Quincy Acy\acyqu01  PF   28  PHO  10   123   2.9  0.379  0.833
2   3  Jaylen Adams\adamsja01  PG   22  ATL  34   428   7.6  0.474  0.673
3   4  Steven Adams\adamsst01   C   25  OKC  80  2669  18.5  0.591  0.002

   ...  Unnamed: 19  OWS  DWS   WS  WS/48  Unnamed: 24  OBPM  DBPM  BPM  VORP
0  ...          NaN  0.1  0.6  0.6  0.053          NaN  -2.4  -0.9 -3.4  -0.2
1  ...          NaN -0.1  0.0 -0.1 -0.022          NaN  -5.7  -0.3 -5.9  -0.1
2  ...          NaN -0.1  0.2  0.1  0.011          NaN  -3.1  -1.3 -4.4  -0.3
3  ...          NaN  5.1  4.0  9.1  0.163          NaN   0.6   2.1  2.7   3.2

[4 rows x 29 columns]

In [5]:
for index, row in data.iterrows():
    str= row['Player']
    row['Player']= unidecode.unidecode(str)

In [6]:
print(data)

   Rk                  Player Pos  Age   Tm   G    MP   PER    TS%   3PAr  \
0   1  Alex Abrines\abrinal01  SG   25  OKC  31   588   6.3  0.507  0.809
1   2      Quincy Acy\acyqu01  PF   28  PHO  10   123   2.9  0.379  0.833
2   3  Jaylen Adams\adamsja01  PG   22  ATL  34   428   7.6  0.474  0.673
3   4  Steven Adams\adamsst01   C   25  OKC  80  2669  18.5  0.591  0.002

   ...  Unnamed: 19  OWS  DWS   WS  WS/48  Unnamed: 24  OBPM  DBPM  BPM  VORP
0  ...          NaN  0.1  0.6  0.6  0.053          NaN  -2.4  -0.9 -3.4  -0.2
1  ...          NaN -0.1  0.0 -0.1 -0.022          NaN  -5.7  -0.3 -5.9  -0.1
2  ...          NaN -0.1  0.2  0.1  0.011          NaN  -3.1  -1.3 -4.4  -0.3
3  ...          NaN  5.1  4.0  9.1  0.163          NaN   0.6   2.1  2.7   3.2

[4 rows x 29 columns]